{% extends 'base.html.twig' %}

{% block title %}Liste d'{{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="d-inline me-3">{{ title }}</h1>

        {{ form_start(form, {
            'attr': {'type': 'text', 'list': 'datalist', 'style': 'margin-top: 1em; display: flex; gap: 1em;'}
        }) }}

        <datalist id="datalist"></datalist>

        <p style="margin: 0">Recherche :</p>
        {{ form_widget(form.search, {
            'attr': {'style': ''}
        }) }}

        <button>Send</button>

        {{ form_end(form) }}

        <div class="row mt-5" style="flex-wrap: unset !important;">

            <div class="col-12 col-md-8 ps-5" style="width: 100%;">
                <h2 class="mb-4">Top Mangas :</h2>
                <div class="row mt-5" style="flex-wrap: unset !important;">
                {% for animanga in topMangas %}
                    <div class="col col-md-4" style="margin-bottom: 3em; width: 20% !important;">
                        <div class="animanga-container p-3 text-center">
                            <a href="{{ path('animanga', {
                                slug: animanga.id
                            }) }}"><img class="imageListe" src="{{ animanga.image }}" data-src="{{ animanga.image }}" alt="Animanga image" >
                            </a>
                            <a href="{{ path('animanga', {
                                slug: animanga.id
                            }) }}">
                                <p class="mt-2" ><strong>{{ animanga.title }}</strong></p>
                            </a>
                            <span>Genres : {{ animanga.genres|replace({',': ' |'}) }}</span>
                            <br><br>
                            {% if animanga.type == "Manga" %}
                                <span>Nombre de tomes : {{ animanga.tomes ? animanga.tomes : 'Inconnu' }}</span>
                            {% elseif animanga.type == "Anime" %}
                                <span>Nombre d'épisodes : {{ animanga.episodes ? animanga.episodes : 'Inconnu' }}</span>
                            {% endif %}
                            <br>
                            <span>Date de sortie : {{ animanga.releaseDate }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"></div>

                <h2 class="mb-4">Top Animes :</h2>
                <div class="row mt-5" style="flex-wrap: unset !important;">
                    {% for animanga in topAnimes %}
                        <div class="col col-md-4" style="margin-bottom: 3em; width: 20% !important;">
                            <div class="animanga-container p-3 text-center">
                                <a href="{{ path('animanga', {
                                    slug: animanga.id
                                }) }}"><img class="imageListe" src="{{ animanga.image }}" data-src="{{ animanga.image }}" alt="Animanga image" >
                                </a>
                                <a href="{{ path('animanga', {
                                    slug: animanga.id
                                }) }}">
                                    <p class="mt-2" ><strong>{{ animanga.title }}</strong></p>
                                </a>
                                <span>Genres : {{ animanga.genres|replace({',': ' |'}) }}</span>
                                <br><br>
                                {% if animanga.type == "Manga" %}
                                    <span>Nombre de tomes : {{ animanga.tomes ? animanga.tomes : 'Inconnu' }}</span>
                                {% elseif animanga.type == "Anime" %}
                                    <span>Nombre d'épisodes : {{ animanga.episodes ? animanga.episodes : 'Inconnu' }}</span>
                                {% endif %}
                                <br>
                                <span>Date de sortie : {{ animanga.releaseDate }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}