{% extends 'base.html.twig' %}

{% block title %}Liste d'{{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="d-inline me-3">{{ title }}</h1>

        {{ form_start(form) }}

        {{ form_row(form.search) }}

        <button>Send</button>

        {{ form_end(form) }}

        <div class="row mt-5" style="flex-wrap: unset !important;">

            <div class="col-12 col-md-8 ps-5" style="width: 100%;">
                <h2 class="mb-4">Top Mangas :</h2>
                <div class="row mt-5" style="flex-wrap: unset !important;">
                {% for animanga in topMangas %}
                    <div class="col col-md-4" style="margin-bottom: 3em; width: 20% !important;">
                        <div class="animanga-container p-3 text-center">
                            <a href="{{ path('animanga', {
                                slug: animanga.id
                            }) }}"><img class="imageListe" src="/images/animangas/{{ animanga.id }}.jpg" data-src="/images/animangas/{{ animanga.id }}.jpg" alt="Square placeholder img" >
                            </a>
                            <a href="{{ path('animanga', {
                                slug: animanga.id
                            }) }}">
                                <p class="mt-2" ><strong>{{ animanga.nom }}</strong></p>
                            </a>
                            <span>{{ animanga.episodes }}</span> | <span>{{ animanga.genre }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"></div>

                <h2 class="mb-4">Top Animes :</h2>
                <div class="row mt-5" style="flex-wrap: unset !important;">
                    {% for animanga in topAnimes %}
                        <div class="col col-md-4" style="margin-bottom: 3em; width: 20% !important;">
                            <div class="animanga-container p-3 text-center">
                                <a href="{{ path('animanga', {
                                    slug: animanga.id
                                }) }}"><img class="imageListe" src="/images/animangas/{{ animanga.id }}.jpg" data-src="/images/animangas/{{ animanga.id }}.jpg" alt="Square placeholder img" >
                                </a>
                                <a href="{{ path('animanga', {
                                    slug: animanga.id
                                }) }}">
                                    <p class="mt-2" ><strong>{{ animanga.nom }}</strong></p>
                                </a>
                                <span>{{ animanga.episodes }}</span> | <span>{{ animanga.genre }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Add an anime or manga</button>
            </div>
        </div>
    </div>
{% endblock %}